/* Fonts */
$font-stack: "Source Sans Pro", Helvetica, Arial, sans-serif;
$font-browser-context: 16;

/* Colors */
$color-bg-body: #e5e5e5;
$color-header: #185989;
$color-header-rgb: 24, 89, 137;
$color-markers-indicators: #1FB3AA;
$color-text: #323232;
$color-text-detail: #868686;
$color-links: #276EA4;
$color-negative: #E74A56;
$color-btn-nofill: #0a4f82;
$color-borders: #e6e6e6;