header.header-main{
  position: relative;
  background-color: $color-header;
  padding: 15px 0 15px;

  .logo{
    font-size: em(24);
    text-align: center;
  }

  .toggle-menu,
  .box-search{
    position: absolute;
    color: #FFF;
  }

  .toggle-menu{
    top: 20px;
    left: 15px;

    .icon-menu{
      font-size: em(15);
      cursor: pointer;
    }
  }

  .box-search{
    top: 18px;
    right: 15px;
    
    .icon-search{
      font-size: em(22);
      cursor: pointer;
    }
  }

  .form-search{
    position: relative;
    padding: 10px 15px 0;

    input{
      width: 100%;
      border: none;
      padding: 5px 10px;
    }

    .btn-search{
      position: absolute;
      top: 16px;
      right: 25px;
    }
  }
}