header.header-main{
  position: relative;
  background-color: $color-header;
  padding: 15px 0 15px;

  .logo{
    font-size: em(24);
    text-align: center;
  }

  .toggle-menu,
  .box-search{
    position: absolute;
    color: #FFF;
  }

  .toggle-menu{
    top: 20px;
    left: 15px;

    .icon-menu{
      font-size: em(15);
      cursor: pointer;
    }
  }

  .box-search{
    top: 18px;
    right: 15px;
    
    .icon-search{
      font-size: em(22);
      cursor: pointer;
    }
  }

  .form-search{
    position: relative;
    padding: 10px 15px 0;
    opacity: 0;
    display: none;

    input{
      position: relative;
      z-index: 20;
      width: 100%;
      border: none;
      padding: 5px 10px;
    }

    .btn-search{
      position: absolute;
      top: 16px;
      right: 25px;
    }

    .box-autocomplete{
      position: absolute;
      z-index: 10;
      top: 35px;
      left: 15px;
      right: 15px;
      background-color: #FFF;
      @include box-shadow(0px 0px 7px 0px rgba(0,0,0,0.27));

      li{
        border-top: 1px solid $color-borders;
        padding: 3px 10px;

        a{
          display: block;
        }

        &:hover,
        &.active{
          background-color: $color-borders;

          a{
            color: #000;
          }
        }
      }
    }
  }
}