/* Gradient */
@mixin gradient($c1, $p1, $c2, $p2) {
  background: -webkit-linear-gradient(top, $c1 $p1, $c2 $p2);
  background:    -moz-linear-gradient(top, $c1 $p1, $c2 $p2);
  background:         linear-gradient(to bottom, $c1 $p1, $c2 $p2);
}

/* Border Radius */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

/* Box Shadow */
@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow:    $shadow;
  box-shadow:         $shadow;
}

/* Transition */
@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}