html{
  margin: 0;
  padding: 0;

  body{
    font-family: $font-stack;
    color: $color-text;
    margin: 0;
    padding: 0;
    background-color: $color-bg-body;

    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    .cf{
      &:after {
        content: " ";
        display: table;
        clear: both;
      }
    }

    .dn{
      display: none;
    }

    a{
      text-decoration: none;
      border: 0;
      color: $color-links;
      @include transition(opacity .5s);

      &:hover{
        opacity: 0.7;
      }
    }

    ul{
      list-style: none;
    }

    button{
      border: none;
      background: none;
      cursor: pointer;
    }
  }
}