html{
  margin: 0;
  padding: 0;

  body{
    font-family: $font-stack;
    color: $color-text;
    margin: 0;
    padding: 0;
    background-color: $color-bg-body;

    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    .cf{
      &:after {
        content: " ";
        display: table;
        clear: both;
      }
    }

    .dn{
      display: none;
    }

    .show-true{
      display: block !important;
      opacity: 1 !important;
    }
    .show-false{
      display: none !important;
      opacity: 0 !important;
    }

    .ngdialog-content{
      z-index: 998;
    }
    .ngdialog-content{
      position: relative;
      z-index: 999;
      margin: 15px 15px 0; 
    }

    a{
      text-decoration: none;
      border: 0;
      color: $color-links;
      @include transition(opacity .5s);

      &:hover{
        opacity: 0.7;
      }
    }

    ul{
      list-style: none;
    }

    button{
      border: none;
      background: none;
      cursor: pointer;
    }
  }
}