<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LoveMondays' Front end Test</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="description" content="A mobile view" />

    <!-- Facebook -->
    <meta property="og:title" content="LoveMondays' Front end Test"/>
    <meta property="og:site_name" content="LoveMondays' Front end Test"/>
    <meta property="og:url" content="http://www.lovemondays.com.br"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="A mobile view"/>
    <meta property="og:image" content="https://www.lovemondays.com.br/assets/public/open_graph/logo-lm-small-37c2d43d28c89b3066bb79982d03239db1bce11384e6aee18127a1b9c64b9f9b.png"/>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic" rel="stylesheet" type="text/css">
    <link href="../assets/fonts/lovemondays.css" rel="stylesheet" type="text/css">

    <!-- CSS -->
    <link rel="stylesheet" href="../assets/dist/css/app.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="https://www.lovemondays.com.br/assets/public/touch/favicon-16x16-99bbe21227c1bcd47f909b3e2c7db83e9b71fe243a3d88b9753e8361e947f7b8.png" type="image/x-icon" />
  </head>

  <body>
    
    <!-- INIT: Header -->
    <header class="header-main">
      <div class="logo">
        <a href="javascript:;">
          <span class="dn">LoveMondays</span>
          <i class="icon-lovemondays-logotype">
            <i class="path1"></i><i class="path2"></i>
          </i>
        </a>
      </div>
      
      <div class="toggle-menu">
        <i class="icon-menu"></i>
      </div>

      <div class="box-search">
        <i class="icon-search"></i>
      </div>
      <form class="form-search dn">
        <input type="text" placeholder="Digite aqui o termo a ser buscado...">
        <button type="submit" class="btn-search">
          <span class="dn">Buscar</span>
          <i class="icon-search"></i>
        </button>
      </form>
    </header>


    <!-- INIT: Content -->
    <div class="content company">
      
      <!-- INIT: Company Header -->
      <header class="header-company">
        <figure class="logo">
          <img alt="IBM" srcset="https://media.lovemondays.com.br/logos/9eb1ad/ibm-logo-web-huge.png 2x, https://media.lovemondays.com.br/logos/9eb1ad/ibm-logo-web-xhuge.png 3x" src="https://media.lovemondays.com.br/logos/9eb1ad/ibm-logo-web-medium.png">
        </figure>

        <h1 class="title">International Business Machines (IBM)</h1>

        <div class="post-rating">
          <a href="javascript:;" class="btn ok">
            <i class="icon-add"></i> Postar avaliação
          </a>
        </div>
      </header>

      <!-- INIT: Company Nav -->
      <nav class="nav-company cf">
        <ul>
          <li>
            <a href="javascript:;"><strong>Perfil</strong></a>
          </li>
          <li>
            <a href="javascript:;"><strong>Avaliações</strong> <span>(122)</span></a>
          </li>
          <li class="active">
            <a href="javascript:;"><strong>Salários</strong> <span>(3499)</span></a>
          </li>
          <li>
            <a href="javascript:;"><strong>Vagas</strong> <span>(23)</span></a>
          </li>
        </ul>
      </nav>

      <!-- INIT: Sallary -->
      <section class="section-sallary">
        <header>
          <h2>Salários IBM</h2>
          <p><strong>3499</strong> salários para 214 cargos</p>

          <div class="filters cf">
            <button class="btn no-fill btn-filter">Filtrar</button>
            <button class="btn no-fill btn-ordering"><i class="icon-reorder"></i><span class="dn">Ordenar</span></button>
          </div>
        </header>
          
        <!-- INIT: Sallary List -->
        <ul class="list-content">
          <li class="thead">
            <div class="value">Média Salarial</div>
          </li>

          <li>
            <div class="description">
              <strong>Analista Contábil</strong>
              <span>22 salários</span>
            </div>
            <div class="value">R$ 10.745</div>
          </li>
          <li>
            <div class="description">
              <strong>Analista de Desenvolvimento Sênior</strong>
              <span>22 salários</span>
            </div>
            <div class="value">R$ 10.745</div>
          </li>
          <li>
            <div class="description">
              <strong>Analista de Desenvolvimento Sênior</strong>
              <span>22 salários</span>
            </div>
            <div class="value">R$ 10.745</div>
          </li>
          
          <li class="show-login">
            
            <!-- INIT: Login box -->
            <section class="box-login">
              <h4 class="txt">
                <i class="icon-padlock"></i> Acesse todo o conteúdo gratuitamente
              </h4>

              <ul class="login-type cf">
                <li>
                  Criar conta
                </li>
                <li class="active">
                  Já possui conta?
                </li>
              </ul>

              <div class="content login">
                <div class="btn-holder">
                  <button class="btn btn-fb">
                    <i class="icon-facebook"></i>
                    Facebook
                  </button>
                  <button class="btn btn-gp">
                    <i class="icon-gplus"></i>
                    Google +
                  </button>
                </div>

                <p class="linebg"><span>ou</span></p>

                <p class="email-login">
                  Entrar <a href="javascript:;">utilizando seu email</a>
                </p>
              </div>

              <div class="box-login-info">
                <i class="icon-profile"></i>
                <p>
                  <strong>Junte-se à 400.000 pessoas</strong>
                  <span>que já postaram avaliações e</span>
                  <span>salários na LoveMondays</span>
                </p>
              </div>
            </section>

          </li>
          
          <li>
            <div class="description">
              <strong>Analista de Desenvolvimento Sênior</strong>
              <span>22 salários</span>
            </div>
            <div class="value">R$ 10.745</div>
          </li>
          <li>
            <div class="description">
              <strong>Analista Contábil</strong>
              <span>22 salários</span>
            </div>
            <div class="value">R$ 10.745</div>
          </li>
          <li>
            <div class="description">
              <strong>Analista de Desenvolvimento Sênior</strong>
              <span>22 salários</span>
            </div>
            <div class="value">R$ 10.745</div>
          </li>
          <li>
            <div class="description">
              <strong>Analista de Desenvolvimento Sênior</strong>
              <span>22 salários</span>
            </div>
            <div class="value">R$ 10.745</div>
          </li>
        </ul>

        <p class="total">Exibindo 1 - 15 de 25 salários</p>

        <div class="btn-load-more">
          <button class="btn no-fill">Carregar Mais</button>
        </div>

      </section>      

      
      <!-- INIT: Box highlight company -->
      <section class="box-highlight">
        <div class="cover" style="background-image:url(../assets/img/ibm@3x.jpg);">
          <h3>Carreiras International Business Machines (IBM)</h3>
          
          <div class="btn-discover">
            <a href="javascript:;">Descubra</a>
          </div>
        </div>

        <div class="info cf">
          <figure class="logo">
            <img alt="IBM" srcset="https://media.lovemondays.com.br/logos/9eb1ad/ibm-logo-web-huge.png 2x, https://media.lovemondays.com.br/logos/9eb1ad/ibm-logo-web-xhuge.png 3x" src="https://media.lovemondays.com.br/logos/9eb1ad/ibm-logo-web-medium.png">
          </figure>

          <p>
            International Business Machines (IBM) é uma empresa dos Estados Unidos voltada para a área de informática. A IBM fabrica e vende Hardware e Software, oferece serviços de infra-estrutura, serviços de hospedagem e serviços de consultoria nas áreas que vão desde computadores de grande porte até a nanotecnologia. Com mais de 400.000 colaboradores em todo o mundo, a IBM é a maior empresa da área de TI no mundo. A IBM detém mais patentes do que qualquer outra empresa americana baseada em tecnologia e tem 15 laboratórios de pesquisa no mundo inteiro. A empresa possui cientistas, engenheiros, consultores e profissionais de vendas em mais de 150 países. Funcionários da IBM já ganharam cinco prêmios Nobel e quatro Prêmios Turing (conhecido como o Nobel da computação), dentre vários outros prêmios.
            <a href="javascript:;">Saiba Mais</a>
          </p>
        </div>
      </section>


    </div>
  </body>
</html>