<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LoveMondays' Front end Test</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="description" content="A mobile view" />

    <!-- Facebook -->
    <meta property="og:title" content="LoveMondays' Front end Test"/>
    <meta property="og:site_name" content="LoveMondays' Front end Test"/>
    <meta property="og:url" content="http://lovemondays.com.br"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="A mobile view"/>
    <meta property="og:image" content="https://www.lovemondays.com.br/assets/public/open_graph/logo-lm-small-37c2d43d28c89b3066bb79982d03239db1bce11384e6aee18127a1b9c64b9f9b.png"/>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic" rel="stylesheet" type="text/css">
    <link href="../assets/fonts/lovemondays.css" rel="stylesheet" type="text/css">

    <!-- CSS -->
    <link rel="stylesheet" href="../assets/dist/css/app.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="https://www.lovemondays.com.br/assets/public/touch/favicon-16x16-99bbe21227c1bcd47f909b3e2c7db83e9b71fe243a3d88b9753e8361e947f7b8.png" type="image/x-icon" />
  </head>

  <body>
    <h1>
      <span class="icon-lovemondays-logotype">
        <span class="path1"></span><span class="path2"></span>
      </span>
    </h1>
  </body>
</html>